
/* Video 1 */

#primer-video{
  color: yellow;
	background-color: green;
	font-size: 80px;
}

/* Video 2 */

#segundo-video{
  color: red;
	background-color: purple;
	font-size: 70px;
}

/* Video 3 */

#tercer-video{
	color: white;
	background-color: black;
	font-size: 100px;
}

/* Video 4 */

#cuarto-video{
	color: white !important;
	background-color: black;
	font-size: 70px;
}